body {
    font-family: Arial, sans-serif;
    background-image: url('https://img.freepik.com/free-photo/yasaka-pagoda-sannen-zaka-street-kyoto-japan_335224-10.jpg?w=1060&t=st=1688705675~exp=1688706275~hmac=5c33a838c464c8e7ad58e6fa6cbd5411edc494960a822cd82a052ea63f3cc737');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-size: cover;
  }
  
  h1 {
    text-align: center;
    color: #ffffff;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    color: #555;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #expense-list {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  
  #expenses li {
    margin-bottom: 10px;
    color: #555;
  }
  
  #total-expenses {
    font-weight: bold;
    color: #555;
    text-align: right;
  }

  #expense-form-container {
    margin-bottom: 20px;
  }
  
  #author-name {
    margin-left: 10px;
    font-size: 16px;
    color: #ff0000;
  }